.banner {
  background-image: url("/resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 1600px;
  margin: 50px auto 120px;
  border-radius: 16px;

  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 1%); */
}
.banner-content {
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.banner-title {
  font-size: 32px;
  padding-top: 177px;
  /* padding: 150px 530px 30px ; */
}
.banner-head {
  font-size: 80px;
  font-weight: 500;
  /* line-height: 95px;  */
  width: 632px;
  padding-left: 500px;
  /* padding: 200px 344px 177px; */
  margin-top: 5px;
  font-family: Merriweather;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
.offer-title-name {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  /* margin-top: 120px; */
  font-family: Inter;
}
.offer-description-name {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  /* margin-top: 100px; */
  font-family: Inter;
}
.category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}
.offer {
  margin: 0px 400px 0px 400px;
  align-items: center;
}
.offer-image {
  width: 802px;
  height: 500px;
  margin: 0 auto;

  /* padding: 400px; */
}
.welcome {
  display: flex;
  align-items: center;
  padding: 0 126px;
  background-image: url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  width: 70%;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  width: 70%;
}
.btn-primary {
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}
.welcome .welcome-container,
.welcome-png {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  /* width: 120%; */
  /* height: 200%; */
}
#address {
  /* background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
  width: 805px;
  height: 400px;
  flex-shrink: 0;
  background-color: rgb(242, 203, 226);
  text-align: center;
  padding: 100px 386px;
  margin: 120px auto;
  border-radius: 5px;
}
.add-info-name {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.red-word {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.red-btn {
  border-radius: 8px;
  background: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 64px;
}
#bonus-sec{
  display: flex;
  gap: 50px;
  width: 1600px;
height: 535px;
background: #FFF;
margin: 120px auto;
}
.bonus-text{
  width: 70%;
}
.bonus-text-title{
  color: #F00;

font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.bonus-text-head{ 
  color: #070211;
font-family: Merriweather;
font-size: 48px;

font-weight: 900;

}
.text-description{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
line-height: 32px; /* 160% */
}
.bonus-pic{
  width: 364.844px;
  height: 364.844px;
  border-radius: 463px;
  /* border-radius: 463px; */
  border: 15px solid #F00;
  align-items: center;
  
}
.bonus-end-head{
  color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.holiday{
  width: 1600px;
height: 400px;
text-align: center;
margin: 120px auto;
width: 60%;
}
.holiday-head{
  color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.red-word-2{
  color: #F00;
font-size: 72px;
font-weight: 900;

}
.holiday-title{
  color: #070211;
font-size: 72px;
font-weight: 900;
margin-bottom: 24px;
margin-top: 5px;
}
/* .image-1{
  width: 1320px;
height: 229px;
position: relative;
} */
.products{
  width: 1800px;
height: 400px;
margin: 120px auto;
width: 60%;

}
.product-image-row1,.product-image-row2{
  display: flex;
  gap: 24px;
  border-radius: 16px;
  margin-bottom: 24px;
}
.imge{
  width: 500px;
height: 500px;
}
.product-text-title{
  color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 24px;
}
.product-text-head{
  color: #070211;
font-size: 48px;
font-weight: 900;
margin-bottom: 24px;

}
.newsletter{
 
  margin: 900px auto 120px;
  width: 80%;
  text-align: center;
  align-items: center;
  width: 1600px;
height: 600px;
background-color: rgba(255, 0, 0, 0.05);
}
.line{
  display: flex;
  padding-left: 400px;
}
.news-img{
  width: 150px;
height: 150px;
padding-top: 40px;
}
.news-head{
  color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;

}
.news-text{
  width: 56%;
  text-align: center;
  padding-left:320px ;
}
.formm{
  width: 648px;
height: 72px;
border-radius: 50px;
background: #FFF;

}
.form-text{
  color: rgba(7, 2, 17, 0.30);
text-align: left;
font-family: Inter;
font-size: 18px;
border: 0;
margin-top: 25px;
margin-left: 0px;
}
.news-btn{
  border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;

}
footer{
  background-color: #070211;
  width: 2000px;
height: 709px;
margin: 120px auto;
}
.address{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
width: 375px;
}
ul{
  color: #FFF;
font-family: Inter;
font-size: 24px;;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
ul > li{
  list-style: none;
}
.container{
  display: flex;
  justify-content: space-between;
  padding: 120px 220px;
}
.image-footer{
  justify-content: center;
  padding-left: 900px ;
  
}
.img-footer{
  padding: 14px;
}
.end{
  display: flex;
  justify-content: space-between;
  color: #FFF;
font-family: Inter;
font-size: 24px;
padding: 120px 220px;
font-weight: 500;
}